<!--Выводим блок со ссылками в футаре. Ссылки открывают попап(всплывающие) окна. В окнах отображаются страницы указанные в первом параметре, функции window.open().
Также отрезаются все ненужные, в данном случае, свойства, обычных окон браузера.-->
<div class="footerLink">
<a onclick="window.open('http://ya.ru', 'Privacy Policy', 'menubar=no,location=no,resizable=no,scrollbars=no,status=no')" href="#" style="font-size: 13px !important;"> Privacy Policy</a>
<a onclick="window.open('http://ya.ru', 'Terms of Use', 'menubar=no,location=no,resizable=no,scrollbars=no,status=no')" href="#" style="font-size: 13px !important;"> Terms of Use </a>
<a onclick="window.open('/crossoverApp/form.html', 'Support', 'menubar=no,location=no,resizable=no,scrollbars=no,status=no')" href="#" style="font-size: 13px !important;"> Support</a>
</div>
